.table-container{
    background-image:  url('../assets/ft.png');
    background-size: 100% 100%;
}

tr{
    padding: 2rem;
}

td{
    padding: 0.8rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.asd{
    border-right: 1px solid;
    border-left: 1px solid;
}

.remove{
    border-bottom: 0;
    border-bottom-left-radius: 10px;
}

.middle{
    border-right: 1px solid;
    border-left: 1px solid;
}

tbody tr :nth-child(1){
    text-align: start;
}

tfoot tr :nth-child(1){
    text-align: start;
}

.need{
    border-top-left-radius: 10px;
}

.need-2{
    border-top-right-radius: 10px;
}

.need-4{
    border-bottom-right-radius: 10px;
}



