.top-college-container{
    background-image: url('../assets/near-bg.png');
    background-size: 100% 100%;
}

.top-card{
    margin-left: 22px;
}

.top-cards > div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* copy for view more button */
.more{
    position: relative;
    bottom: 29px;
    left: 14px;
}