.top-college-container{
    background-image: url('../assets/near-bg.png');
    background-size: 100% 100%;
}

.top-card{
    margin-left: 22px;
}

.top-cards > div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.more-pos{
    position: relative;
    bottom: 30px;
}

/* copy for view more button */
.more{
    position: relative;
    bottom: 29px;
    left: 14px;
}

@media only screen and (max-width: 464px){
    .top-heading{
        font-size: 1.1rem !important;
    }

    .top-card{
        width: 14rem !important;
        flex-wrap: wrap;
    }
}